@media screen and (min-width: 575px) {
  #phone-container {
    background: url("images/hero-phone.png") no-repeat;
    background-size: cover;
    height: 40em;
  }
}
@media screen and (max-width: 575px) {
  #phone-container {
    background: url("images/coversharks-home-mobile-phone.png") no-repeat;
    background-size: contain;
    height: 40em;
  }
}
.navbar {
  height: 5em;
  margin-bottom: 0;
}
.navbar .links {
  background-color: lightgray;
  height: 4.9em;
}
.navbar .words {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  margin-top: 0.5em;
}
.navbar .covershark {
  background-image: url('images/logo-color.svg');
  height: 4em;
  width: 15em;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: white;
  margin-top: 0.5em;
}
.navbar .facebook {
  background-image: url('images/fb-grey.svg');
  height: 2em;
  width: 3em;
  background-size: auto;
  background-repeat: no-repeat;
  margin-top: 1em;
}
.navbar .twitter {
  background-image: url('images/twitter-grey.svg');
  height: 2em;
  width: 3em;
  background-size: auto;
  background-repeat: no-repeat;
  margin-top: 1em;
}
.navbar ul {
  list-style-type: none;
}
.navbar ul li {
  display: inline;
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: center;
}
.background {
  background-image: url('images/coversharks-web-hero.jpg'), url('images/bkgrnd.svg');
  z-index: -1;
  background-size: cover;
}
.first-section {
  max-height: 100%;
}
.first-section h1 {
  margin-top: 2em;
  color: white;
  margin-left: 1em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  background-color: deepskyblue;
  text-align: center;
  font-size: 3.5em;
}
.first-section p {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  margin-left: 5em;
  font-size: 1.5em;
}
.first-section button {
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  margin-left: 6em;
}
.first-section img {
  height: 40em;
}
.second-section {
  margin-bottom: 0;
}
.second-section img {
  margin-top: 2em;
}
.second-section h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  margin-top: 5em;
  color: darkgray;
}
.second-section h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  color: lightseagreen;
  font-size: 4em;
}
.second-section button {
  background-color: black;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 0.5em;
}
.third-section .background {
  background-image: url('images/bkgrnd.svg');
  background-size: cover;
  height: 40em;
}
.third-section h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  color: deepskyblue;
  text-align: center;
  margin-top: 3em;
  font-size: 3.5em;
  margin-left: 1em;
}
.third-section p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin-left: 5em;
}
.third-section button {
  background-color: white;
  color: gray;
  margin-left: 15em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
.third-section img {
  height: 40em;
  width: 35em;
}
.fourth-section {
  background-color: lightgrey;
}
.fourth-section h1 {
  color: deepskyblue;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}
.fourth-section .panel-default {
  margin-left: 3em;
  margin-right: 3em;
}
.fourth-section .panel-default .panel-body {
  height: 27em;
}
.fourth-section .panel-default .panel-body img {
  height: 12em;
  width: 20em;
  margin-top: 1em;
}
.fourth-section .panel-default .panel-body h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-align: center;
  color: gray;
}
.fourth-section .panel-default .panel-body p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  color: darkgray;
}
.fourth-section h3 {
  color: deepskyblue;
  text-align: center;
}
